.component {
    border: none;
    padding: 10px 0;

    label,
    svg,
    input,
    span {
        color: #ccc !important;
    }
    // div[class='MuiButtonBase-root MuiChip-root MuiChip-filled MuiChip-sizeMedium MuiChip-colorDefault MuiChip-deletable MuiChip-deletableColorDefault MuiChip-filledDefault MuiAutocomplete-tag MuiAutocomplete-tagSizeMedium css-iqd1hh-MuiButtonBase-root-MuiChip-root'] {
    //     background-color: rgb(109, 109, 109);
    // }
}