.component {
    margin-left: 10px;
    margin-top: 60px;
    min-height: 432px;
    padding: 40px;
    background: linear-gradient(25.49deg, #202146 -19.03%, #274193 116.79%);
    .filterTitle{
        display: flex;
        align-items: center;
        gap: 5px;
        img{
            height: 25px;
            width: 25px;
        }
    }
    .title{
        color: #fff;
    }
}