.component {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 55px;
    text-align: left;

    .row{
        height: 100%;
        display: flex;
    }
    .col {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex: 1 1;

        .titleSection {
            padding: 0 20px 10px;

            .header {
                color: #202146;
                margin-top: 0;
                margin-bottom: 0;
            }

            .line {
                background-color: #202146;
                width: 55px;
                height: 2px;
                margin-bottom: 30px;
            }
        }
    }
}