*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100vh;

  body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: 'Roboto', 'Arial', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #app {
    height: 100vh;
    overflow: hidden;
  }
}
